<div><h3>Input new medicine</h3></div>

<form [formGroup]="medicineForm" (ngSubmit)="onSubmit()">
  <label for="medicineName">Medicine Name</label>
  <input type="text" formControlName="medicineName" placeholder="medicine name" required>

  <label for="quantity">Quantity</label>
  <input type="number" formControlName="quantity" min="0" placeholder="quantity as a number" required>

  <label for="expirationDate">Expiration Date</label>
  <input type="date" formControlName="expirationDate" min={{today}} required>

  <button type="submit" [disabled]="!medicineForm.valid">Submit</button>
</form>

<p>
  Form Value: {{ medicineForm.value | json }}
</p>

<p>
  Form Status: {{ medicineForm.status }}
</p>

<p>
  тест на македонски
</p>
