<div>Input new medicine</div>

<form [formGroup]="medicineForm" (ngSubmit)="onSubmit()">
  <label>
    Medicine Name:
    <input type="text" formControlName="medicineName" required>
  </label>
  <label>
    Quantity:
    <input type="number" formControlName="quantity" required>
  </label>
  <label>
    Expiration Date:
    <input type="date" formControlName="expirationDate" min={{today}} required>
  </label>
  <button type="submit" [disabled]="!medicineForm.valid">Submit</button>
</form>

<p>
  Form Value: {{ medicineForm.value | json }}
</p>


<p>
  Form Status: {{ medicineForm.status }}
</p>

<p>
  тест на македонски
</p>
