<div>
    <h3>Undo medicine use</h3>
  </div>

  <form [formGroup]="undoForm" (ngSubmit)="onSubmit()">
    <label for="medicineName">Medicine Name</label>
    <input type="text" formControlName="medicineName" placeholder="medicine name" required>

    <label for="expirationDate">Expiration Date</label>
    <input type="date" formControlName="expirationDate" required>

    <label for="patientName">Patient Name</label>
    <input type="text" formControlName="patientName" placeholder="patient name" required>

    <label for="dateOfAdministration">Date of Administration</label>
    <input type="date" formControlName="dateOfAdministration" required>

    <button type="submit" [disabled]="!undoForm.valid">Submit</button>
  </form>


<h3>Search uses by <i>Medicine Name</i>, <i>Expiration Date</i>, <i>Patient Name</i> or <i>Date of Administration</i></h3>
<input type="search" [formControl]="searchBar">

<h3>Pick use to undo</h3>

<span class="error" *ngIf="errorMessage">Error: No such medicine use!</span>
<span class="confirmation" *ngIf="confirmationMessage">Medicine use reverted successfully.</span>

<br />
<select [formControl]="foundBar" (change)="injectMedicineToForm()" size="20">
  <option *ngFor="let item of foundUses" [ngValue]="item">{{item.medicineName}} with expiration date:
    {{item.expirationDate}} administrated to patient: {{item.patientName}} on {{item.dateOfAdministration}}</option>
</select>
