<div><h3>Log in</h3></div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="name">User Name</label>
  <input type="text" formControlName="name" placeholder="User Name" autocomplete="username" required>

  <label for="password">Password</label>
  <input type="password" formControlName="password" placeholder="enter password" autocomplete="current-password" required>

  <button type="submit" [disabled]="!loginForm.valid" routerLink="/all-medicine">Submit</button>
</form>

<p class="error" *ngIf="errorMessage">
    Invalid user name or password.
</p>

<p class="confirmation" *ngIf="confirmationMessage">
  Medicine received successfully.
</p>

<p class="error" *ngIf="inactiveUser">
    This user is not active. Please check with your administratior.
</p>
