<div class="component">

  <h1>Welcome to the Medicine Dispensary</h1>

  <h3>Please log in</h3>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">

    <div class="input-wrapper">
      <label for="name">User Name</label>
      <input type="text" formControlName="name" placeholder="User Name" autocomplete="username" required>
    </div>

    <div class="input-wrapper">
      <label for="password">Password</label>
      <input type="password" formControlName="password" placeholder="Password" autocomplete="current-password" required>
    </div>

    <button type="submit" [disabled]="!loginForm.valid" routerLink="/all-medicine" class="submit">Log in</button>
  </form>

  <div class="error-popup">
    <span class="error" *ngIf="errorMessage">Invalid user name or password.</span>
    <span class="confirmation" *ngIf="confirmationMessage">Login successful.</span>
    <span class="error" *ngIf="inactiveUser">This user is not active.</span>
  </div>

</div>
