<div>
  <h3>Delete medicine</h3>
</div>

<form [formGroup]="deleteForm" (ngSubmit)="onSubmit()">
  <label for="medicineName">Medicine Name</label>
  <input type="text" formControlName="medicineName" placeholder="medicine name" required>

  <label for="expirationDate">Expiration Date</label>
  <input type="date" formControlName="expirationDate" required>

  <label for="quantity">Quantity</label>
  <input type="number" formControlName="quantity" placeholder="quantity">

  <button type="submit" [disabled]="!deleteForm.valid">Submit</button>
</form>

<div>
  <h3>Pick medicine to delete</h3>
</div>

<select [(ngModel)]="selectedValue" (change)="inputMedicineValues()">
  <option disabled selected>Please select...</option>
  <option *ngFor="let item of medicines" [ngValue]="item">{{item.medicineName}} with expiration date:
    {{item.expirationDate}}</option>
</select>

<p class="error" *ngIf="errorMessage">
  Error: No such medicine!
</p>

<p class="confirmation" *ngIf="confirmationMessage">
  Medicine was successfully deleted.
</p>
