<p>Change your password, {{name}}</p>

<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <label for="oldPassword">Current Password</label>
  <input type="password" formControlName="oldPassword" placeholder="original password" autocomplete="oldPassword" required>

  <label for="newPassword">New Password</label>
  <input type="password" formControlName="newPassword" placeholder="new password" autocomplete="newPassword" required>

  <label for="repeatPassword">Repeat New Password</label>
  <input type="password" formControlName="repeatPassword" placeholder="repeat password" autocomplete="repeatPassword" required>

  <button type="submit" [disabled]="!changePasswordForm.valid">Change</button>
</form>

<span class="error" *ngIf="errorMessage">Error changing password! Error: {{error}}</span>
<span class="confirmation" *ngIf="confirmationMessage">Password was successfully changed.</span>
<span class="error" *ngIf="doNotMatch">New passwords values do not match!</span>
