<div class="component">

  <h3>Change your password, <i>{{name}}</i></h3>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="form">

    <div class="input-wrapper">
      <label for="oldPassword">Current Password</label>
      <input type="password" formControlName="oldPassword" placeholder="original password" autocomplete="oldPassword"
        required>
    </div>

    <div class="input-wrapper">
      <label for="newPassword">New Password</label>
      <input type="password" formControlName="newPassword" placeholder="new password" autocomplete="newPassword"
        required>
    </div>

    <div class="input-wrapper">
      <label for="repeatPassword">Repeat New Password</label>
      <input type="password" formControlName="repeatPassword" placeholder="repeat password"
        autocomplete="repeatPassword" required>
    </div>

    <button type="submit" [disabled]="!changePasswordForm.valid" class="submit">Change password</button>

  </form>

  <div class="error-popup">
    <span class="error" *ngIf="errorMessage">Error changing password! Error: {{error}}</span>
    <span class="confirmation" *ngIf="confirmationMessage">Password was successfully changed.</span>
    <span class="error" *ngIf="doNotMatch">New passwords values do not match!</span>
  </div>

</div>
