<div *ngIf="alive">

  <div *ngIf="!loggedIn">
    <app-login></app-login>
  </div>

  <div *ngIf="loggedIn">
    <h1>Medicine Dispensary</h1>
    <nav>
      <a routerLink="/all-medicine">All Medicine</a>
      <a routerLink="/all-uses">All Uses</a>
      <a routerLink="/use">Use Medicine</a>
      <a routerLink="/receive">Receive Medicine</a>
      <a routerLink="/delete-medicine">Delete Medicine</a>
      <a routerLink="/undo-use">Undo Use</a>
      |
      <span *ngIf="role == 'ADMIN'">ADMIN<a routerLink="/manage-users">Manage users</a></span>
      <span *ngIf="role == 'USER'">USER</span>
      |
      <button (click)="logOut()">Log out</button>
    </nav>

    <hr>

    <router-outlet></router-outlet>
  </div>


</div>

<div *ngIf="!alive && !errorMessage">
  Loading <img src="assets/img/loading-bar.gif">
</div>
<div *ngIf="!alive && errorMessage">
  Error connecting to server.
</div>
