<div *ngIf="alive">

  <div *ngIf="!loggedIn">
    <app-login></app-login>
  </div>

  <div *ngIf="loggedIn">

    <div class="h1-container">
      <h1>Medicine Dispensary</h1>
    </div>
    <div class="about-container">
      <span (click)="on()" class="about">About MD</span>
    </div>

    <div class="topnav">
      <nav>

        <a routerLink="/all-medicine" routerLinkActive="active">All Medicine</a>
        <a routerLink="/all-uses" routerLinkActive="active">All Uses</a>
        <a routerLink="/use" routerLinkActive="active">Use Medicine</a>
        <a routerLink="/receive" routerLinkActive="active">Receive Medicine</a>
        <a routerLink="/delete-medicine" routerLinkActive="active">Delete Medicine</a>
        <a routerLink="/undo-use" routerLinkActive="active">Undo Use</a>

        <span class="user-menu">
          <div class="dropdown">
            <button class="dropbtn" *ngIf="role == 'ADMIN'" routerLinkActive="active">Manage users
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a routerLink="/create-user" routerLinkActive="active">Create User</a>
              <a routerLink="/update-user" routerLinkActive="active">Update User</a>
              <a routerLink="/delete-user" routerLinkActive="active">Delete User</a>
            </div>
          </div>

          <a id="change-password" routerLink="/change-password" routerLinkActive="active">Change password</a>

          <a id="logout" (click)="logOut()">Log out {{name}}</a>
        </span>

      </nav>
    </div>

    <router-outlet></router-outlet>
  </div>

</div>

<div *ngIf="!alive && !errorMessage">
  Loading <img src="assets/img/loading-bar.gif">
</div>
<div *ngIf="!alive && errorMessage">
  Error connecting to server.
</div>

<!-- overlay -->

<div id="overlay" (click)="off()">
  <div id="text">
    <h3>About Medicine Dispensary</h3>
    <p>This app is created by Zdravko Mavkov for demonstration purposes.</p>
    <p>Use username: "user" and password: "pass" to explore the app.</p>
    <p>Technologies used: HTML 5, CSS 3, Angular 7 with TypeScript, Spring Boot 2 with Java and PostgreSQL</p>
    <p>How to use the app: Use the Receive Medicine tab to receive new medicine and the Use Medicine tab to administer the medicine to a patient.
       Then you can use the other tabs to view the medicine and uses in the clinic. Also you can manage users.</p>
  </div>
</div>
