<h3>Select user to delete or deactivate</h3>

<form [formGroup]="deleteUserForm">
  <label for="name">User Name</label>
  <input type="text" formControlName="name" placeholder="user name" required>

  <label for="role">Role</label>
  <select formControlName="role" required>
    <option value="USER">USER</option>
    <option value="ADMIN">ADMIN</option>
  </select>

  <label for="active">Active</label>
  <input type="checkbox" formControlName="active" name="active">

  <button (click)="updateUser()" [disabled]="!deleteUserForm.valid">Update Role and/or Acrive Status</button>
  |
  <button (click)="deleteUser()" [disabled]="!deleteUserForm.valid">Delete User!</button>
</form>

<span class="error" *ngIf="errorMessage">Error deleting user!</span>
<span class="confirmation" *ngIf="confirmationMessage">User was successfully deleted.</span>
<span class="error" *ngIf="updateErrorMessage">Error updating user!</span>
<span class="confirmation" *ngIf="updateConfirmationMessage">User was successfully updated.</span>

<h3>Search available user by <i>User Name</i></h3>
<input type="search" [formControl]="searchBar">

<h3>Pick user to delete or deactivate</h3>

<br />
<select [formControl]="foundBar" (change)="injectUserToForm()" size="10">
  <option *ngFor="let item of foundUsers" [ngValue]="item">{{item.name}} has Role: {{item.role}} and Active state is:
    {{item.active}}</option>
</select>
