<h3>Select user to delete</h3>

<form [formGroup]="deleteUserForm" (ngSubmit)="onSubmit()">
  <label for="name">User Name</label>
  <input type="text" formControlName="name" placeholder="user name" required>

  <button type="submit" [disabled]="!deleteUserForm.valid">Delete</button>
</form>

<span class="error" *ngIf="errorMessage">Error deleting user!</span>
<span class="confirmation" *ngIf="confirmationMessage">User was successfully deleted.</span>

<h3>Search available user by <i>User Name</i></h3>
<input type="search" [formControl]="searchBar">

<h3>Pick user to delete</h3>

<br />
<select [formControl]="foundBar" (change)="injectUserToForm()" size="15">
  <option *ngFor="let item of foundUsers" [ngValue]="item">{{item.name}}</option>
</select>
