<div *ngIf="loaded">
  <h3>Search medicines:</h3>
  <input type="search" [formControl]="searchMed">
</div>

<div *ngIf="newMeds">
  <table>
    <tr>
      <th>Medicine name</th>
      <th>Quantity</th>
      <th>Expiration date</th>
    </tr>
    <tr *ngFor="let med of newMeds">
      <td>{{med.medicineName}}</td>
      <td>{{med.quantity}}</td>
      <td>{{med.expirationDate}}</td>
    </tr>
  </table>
</div>

<!-- <div *ngIf="test.length > 1"> -->
<h3>All medicines:</h3>
<table>
  <tr>
    <th>Medicine name</th>
    <th>Quantity</th>
    <th>Expiration date</th>
  </tr>
  <tr *ngFor="let med of medicines">
    <td>{{med.medicineName}}</td>
    <td>{{med.quantity}}</td>
    <td>{{med.expirationDate}}</td>
  </tr>
</table>
<!-- </div> -->

<!-- <div *ngIf="test.length == 1">No medicines in stock at this time.</div> -->

<!-- <p>medicines: {{medicines}}</p>
<p>test.length: {{test.length}}</p>
<p>test: {{test}}</p> -->
