<div *ngIf="loaded">
  <h3>Search medicines:</h3>
  <input type="search" [formControl]="searchMed">
</div>

<div *ngIf="newMeds">
  <div *ngFor="let med of newMeds">
    <div>medicineName: {{med.medicineName}} quantity: {{med.quantity}} expirationDate: {{med.expirationDate}}</div>
  </div>
</div>

<h3>All medicines:</h3>
<div *ngIf="medicines">
  <div *ngFor="let med of medicines">
    <div>medicineName: {{med.medicineName}} quantity: {{med.quantity}} expirationDate: {{med.expirationDate}}</div>
  </div>
</div>
