<div>
  <h3>Use medicine</h3>
</div>

<form [formGroup]="useForm" (ngSubmit)="onSubmit()">
  <label for="medicineName">Medicine Name</label>
  <input type="text" formControlName="medicineName" placeholder="medicine name" required>

  <label for="expirationDate">Expiration Date</label>
  <input type="date" formControlName="expirationDate" min={{today}} required>

  <label for="patientName">Patient Name</label>
  <input type="text" formControlName="patientName" placeholder="patient name" required>

  <label for="dateOfAdministration">Date of Administration</label>
  <input type="date" formControlName="dateOfAdministration" max={{today}} required>

  <button type="submit" [disabled]="!useForm.valid">Submit</button>
</form>


<h3>Search available medicines by <i>Medicine Name</i> or <i>Expiration Date</i></h3>
<input type="search" [formControl]="searchBar">

<h3>Pick medicine to use</h3>

<span class="error" *ngIf="errorMessage">Error: No such medicine!</span>
<span class="confirmation" *ngIf="confirmationMessage">Medicine used successfully.</span>

<br />
<select [formControl]="foundBar" (change)="injectMedicineToForm()" size="15">
  <option *ngFor="let item of foundMeds" [ngValue]="item">{{item.medicineName}} with expiration date:
    {{item.expirationDate}}</option>
</select>
