<div>
  <h3>Use medicine</h3>
</div>

<form [formGroup]="useForm" (ngSubmit)="onSubmit()">
  <label for="medicineName">Medicine Name</label>
  <input type="text" formControlName="medicineName" placeholder="medicine name" required>

  <label for="expirationDate">Expiration Date</label>
  <input type="date" formControlName="expirationDate" min={{today}} required>

  <label for="patientName">Patient Name</label>
  <input type="text" formControlName="patientName" placeholder="patient name" required>

  <label for="dateOfAdministration">Date of Administration</label>
  <input type="date" formControlName="dateOfAdministration">

  <button type="submit" [disabled]="!useForm.valid">Submit</button>
</form>

<!-- <div>
  <h3>Pick medicine</h3>
</div>

<select formControl="findMedicine">
  <option *ngFor="let name of medicines">
    {{name}}
  </option>
</select> -->

<div>
  <h3>TRY 2</h3>
</div>

<select [(ngModel)]="selectedValue" (change)="doSomething()">
  <option disabled selected>Please select...</option>
  <option *ngFor="let item of medicines" [ngValue]="item">{{item.medicineName}} with expiration date:
    {{item.expirationDate}}</option>
</select>

<p>
  Form Value: {{ useForm.value | json }}
</p>

<p>
  Form Status: {{ useForm.status }}
</p>

<p *ngIf="errorMessage">
  Error Message: {{ errorMessage }}
</p>
