/* You can add global styles to this file, and also import other style files */
.error{
  color: red;
}

.confirmation{
  color: green;
  /* opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s; */
}
/*
@keyframes fadeInOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
  }
} */
